.gateway-bottom-stripes {
background:url(../imgs/page-stripes-bottomleft.png) no-repeat bottom left #fff; /* nested differently on gateway pages */
}

#gateway-layout {
	background:url(../imgs/page-stripes-topright.png) top right no-repeat transparent; /* nested differently on gateway pages */
	padding:30px 20px; 
	margin-top:5px;
}

#gateway-layout h3 {
	color:#e57e17;
	margin-bottom:5px;
	font-weight:normal;
}

.block ul {
   padding:0px;
}

#this-week-image {
	width:225px;
	float:left;
}

#this-week-image div.block{
	width:225px;
	max-height:230px;
	overflow:hidden;
	background-color:#DFDFDF;
}

#this-week-image #caption {
/*background:url(../imgs/background-grey-transparent.png) repeat transparent;*/
	background-color:#DFDFDF;
	padding:5px;
	color:#000;
	width:215px;
}

}
#this-week-image #caption a{
	color:#00f
}

.js-slideshow{
	height:190px;
	text-align:center
}

#this-week-highlights {
	width:680px; 
	float:right;
	margin-bottom:20px;
}

#this-week-highlights h2 {
	font-weight:normal;
	font-size:24px;
	margin-bottom:10px;
}

#headlines, 
#events, 
#perspectives { 
	float:left;
	padding:0px 10px 0px 10px;
}

#headlines, #events, #perspectives {
	width:205px;
}

#perspectives .topic-header {
	font-weight:normal;
	font-size:12px;
	font-style:normal;
	margin-bottom:5px;
}

#navigation-gateway {
padding-left:2px;
background:url(../imgs/navigation-secondary-leftcap.png) repeat-y transparent;
margin-bottom:0px;
}

#this-week-highlights li {
margin-bottom:10px;
}

.gateway-link-section h2 {
color:#578331;
margin-bottom:10px;
}

.gateway-link-section h3 {
margin:10px 0;
}

#academics-links {
width:450px; 
float:left;
}

#student-life-links {
width:450px; 
float:right;
}

.gateway-link-section .first-column {
width:220px;
float:left;
margin:10px 0 20px 0;
}

.gateway-link-section .last-column {
float:right;
width:200px;
margin:10px 0 20px 20px;
}

.gateway-link-section .divider {
margin-bottom:0px;
}

#headlines .list-unstyled, #events .list-unstyled {
   margin-bottom:0px;
}