.js-slideshow{
	height:350px;
	text-align:center
}

.flickrshow-container{
	background:transparent;
	margin:0;
	overflow:hidden;
	padding:0;
	position:relative;
}

.flickrshow-loading{
	background:transparent url(http://www.flickrshow.co.uk/static/images/bg.png);
	border-radius:12px;
	height:24px;
	left:50%;
	margin:-12px 0 0 -120px;
	overflow:hidden;
	padding:0;
	position:absolute;
	top:50%;
	width:240px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}

.flickrshow-loading-bar{
	background:#000;
	border-radius:12px;
	height:24px;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:0;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}

.flickrshow-images{
	background:transparent;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	visibility:hidden;
}

.flickrshow-buttons{
    background: transparent url("http://www.flickrshow.co.uk/static/images/bg.png") repeat scroll 0 0 transparent;
    height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 250px;
    width: 680px;
}

.flickrshow-buttons{
	background: url(http://www.flickrshow.co.uk/static/images/bg.png);
	height:40px;
	margin:0;
	padding:0;
	position:absolute;
}

.flickrshow-buttons-left{
	background:#000 url(http://www.flickrshow.co.uk/static/images/il.png) 50% 50% no-repeat;
	border-radius:12px;
	cursor:pointer;
	height:24px;
	left:auto;
	margin:0;
	padding:0;
	position:absolute;
	right:40px;
	top:8px;
	width:24px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}

.flickrshow-buttons-right{
	background:#000 url(http://www.flickrshow.co.uk/static/images/ir.png) 50% 50% no-repeat;
	border-radius:12px;
	cursor:pointer;
	height:24px;
	left:auto;
	margin:0;
	padding:0;
	position:absolute;
	right:8px;
	top:8px;
	width:24px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}

.flickrshow-buttons-play{
	background:#000 url("http://www.flickrshow.co.uk/static/images/ip.png") 50% 50% no-repeat;
	border-radius:12px;
	cursor:pointer;
	height:24px;
	left:8px;margin:0;
	padding:0;
	position:absolute;
	right:auto;
	top:8px;
	width:24px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}

.flickrshow-buttons-title{
	background:#000;
	border-radius:12px;
	color:#FFF;
	cursor:pointer;
	font:normal normal 600 11px/24px helvetica,arial,sans-serif;
	height:24px;
	left:40px;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	right:auto;
	text-align:center;
	text-shadow:none;
	text-transform:capitalize;
	top:8px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}